<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">New Snap</h1>
    <div class="col-6 offset-3">
        <form action="/snaps" method="post" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">Title:</label>
                <input class="form-control" type="text" name="title" id="title" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="content">Content:</label>
                <textarea rows="10" cols="30" class="form-control" type="text" name="content" id="content" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="category">Category:</label>
                <input class="form-control" type="text" name="category" id="category" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Snap</button>
            </div>
        </form>
        <a href="/snaps">Back to Snaps</a>
    </div>
</div>
